.btn.primary {
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
} 
.btn.primary:hover {
    cursor: pointer;
}
.btn.primary:active {
    background-color: #444;
}
