header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.logo-container {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.logo-container img {
    height: 2rem;
}

ul.nav-list {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 15px;
    list-style: none;
}