.products-container {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: stretch;
}

.products-container a {
    text-decoration: none;
    color: inherit;
}

.products-container a * {
    text-decoration: none;
}